<div class="tabs-container">
    <div class="tabs-block">
        <div class="tabs">
            <input type="radio" name="tabs" id="tab-mem" checked />
            <label for="tab-mem">Efficacité mémoire</label>
            <div class="tab">
                {{ render_mem_section() }}
            </div>
            <input type="radio" name="tabs" id="tab-cpu" />
            <label for="tab-cpu">Efficacité CPU</label>
            <div class="tab">
                {{ render_cpu_section() }}
            </div>
            <input type="radio" name="tabs" id="tab-runtime" />
            <label for="tab-runtime">Durée d'exécution</label>
            <div class="tab">
                {{ render_runtime_section() }}
            </div>
        </div>
    </div>
</div>